
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

.Analog{
    height: 100vh;
    background: #edf1f4;
}

header{
    position: absolute;
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 1.5em;
}

.hamburger-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
}

.hamburger{
    height: 1.5em;
}

.title{
    height: 2.5em;
    width: 70%;
}

.background-image{
    height: 100vh;
    width: 100%;
}

.full-svg{
    height: 100vh;
    width: 100%;
}

.AmPmDiv{
    border-radius: 15px;
    height: 15%;
    width: 7%;
    background: #1D262B;
    position: absolute;
    bottom: 15%;
    right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 5px solid #D8DEDF;
}

.AmPm{
    font-size: 2vw;
}

.minute-hand{
    transform-origin: 955px 580px;
}

.hour-hand{
    transform-origin: 955px 580px;
}

.second-hand{
    transform-origin: 955px 580px;
}

.digital{
    height: 100vh;
    background-image: linear-gradient(147deg, #000000 0%, #434343 150%);
}

.digital-clock{
    height: 100%;
    width: 100%;
}

.time-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: 20%;
    width: 20%;
    /* background: rebeccapurple; */
}

.time h3{
    font-size: 4.5rem;
}

.hours, .minute, .second, .semi{
    color: white;
    border-radius: 10px;
    font-size: 1em;
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2.5rem;
}

.second{
    color: rgb(189, 189, 189);
    padding-right: 20px;
}

.amPm{
    font-size: 2em;
}